<%= folder_description do -%>
  <h1>Javascripts</h1>
  <p>Install any special third-party or custom Javascript files in this folder.</p>
  <p><strong>Files should have a <code>.js</code> extension.</strong></p>
<% end -%>