<%= folder_description do -%>
  <h1>Layouts</h1>
  <p>This is the place for custom layout templates for your site. These are standard Ruby on Rails ERB templates.</p>
  <p>You should at least make sure you have a template called <code>page.html.erb</code> to act as the default layout for all pages.</p>
  <p><strong>Files should have a <code>.html.erb</code> extension.</strong></p>
<% end -%>