<%= folder_description do -%>
  <h1>Stylesheets</h1>
  <p>Put CSS stylesheets in this folder, and access them from your theme with <code>&lt;%= stylesheet_link_tag "/stylesheets/styles.css" %&gt;</code>.</p>
  <p>You can use <%= link_to "SASS markup", "http://sass-lang.com/", :target => :_blank %> within your stylesheets, as well as "regular" CSS.</p>
  <p><strong>Files should have a <code>.css</code> extension.</strong></p>
<% end -%>