<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Breeze: Error</title>
	<style type="text/css" media="screen">
	  body {
	    background: #fff;
	    color: #222;
	    font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	    text-align: center;
	  }
	  
	  #container {
	    text-align: left;
	    margin: 100px auto;
      width: 512px;
      padding: 100px 0px;
      background: url(/breeze/images/ie.png) no-repeat 0px 0px;
	  }
	  
	  h1, p {
	    margin-left: 256px;
	  }

	  h1 {
	    font-size: 300%;
	    margin: 0px 0px 0px 256px;
	  }
	  
	  p {
	    margin: 1ex 0px 0px 256px;
	  }
	</style>
</head>

<body>
  <div id="container">
    <h1>Uh-oh.</h1>
    <p>Sorry, we don't support the use of Internet Explorer to manage your Breeze website at this time.</p>
  </div>
</body>
</html>
