/* Layout {{{ */

body {
  margin: 0px;
  padding: 0px;
  background: #ddd;
}

body, td, input, select, textarea, button {
  font: 13px Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #ec008c;
  outline: none;
}

a img { border: none; }

p { margin: 0px 0px 8px; }

#main,
#left,
#right {
  position: fixed;
  top: 40px;
  bottom: 0px;
  padding-top: 39px;
}

#main {
  left: 224px;
  right: 224px;
  background: #f2f2f2;
  z-index: 2;
  border-top: 1px solid white;
}

.no-sidebar#main {
  right: 0px;
}

#left,
#right {
  width: 223px;
  background: #ddd;
  z-index: 1;
  border-top: 1px solid #ddd;
}

#left {
  left: 0px;
  border-right: 1px solid #aaa;
}

#right {
  right: 0px;
  border-left: 1px solid #aaa;
}

#main .header,
#left .header,
#right .header {
  position: absolute;
  top: -1px;
  left: 0px;
  right: 0px;
  height: 40px;
  background: #bbb url(../images/header.png) repeat-x 0px -40px;
}

#main .header { left: -1px; }
#left .header { right: -1px; }
#right .header { left: -1px; }

#left .header,
#right .header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
}

#main .inner {
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#left .inner {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 40px;
  overflow: auto;
}

.sliding {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  overflow: hidden;
}

#left .sliding {
  right: -1px;
}

.sliding .pages {
  position: absolute;
  top: 0px;
  bottom: 0px;
}

.sliding .page {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
}

.scrollable {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
}

/*}}}*/

/* Tabs {{{ */

#main-tabs-tabs .tabs {
  margin: 0px 0px 0px;
  padding: 0px 4px;
  overflow: hidden;
}

#main-tabs-tabs .tabs li {
  display: block;
  height: 32px;
  line-height: 32px;
  float: left;
  position: relative;
  margin: 8px 4px 0px;
  padding: 0px 8px;
  background: #d2d2d2;
  text-shadow: #eee 0px 1px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px, inset rgba(0, 0, 0, 0.25) 0px -1px 2px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px, inset rgba(0, 0, 0, 0.25) 0px -1px 2px;
}

#main-tabs-tabs .tabs li a.tab {
  text-decoration: none;
  color: #999;
  display: block;
}

#main-tabs-tabs .tabs li.close {
  padding-left: 24px;
}

#main-tabs-tabs .tabs li.loading a.tab {
  padding-left: 18px;
  margin-left: -18px;
  background: url(../images/tab-loading.gif) no-repeat 0px 50%;
}

#main-tabs-tabs .tabs li a.close {
  position: absolute;
  left: 8px;
  top: 6px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  vertical-align: middle;
  font-size: 150%;
  font-weight: bold;
  overflow: hidden;
  color: #999;
  text-decoration: none;
  opacity: 0.5;
  -webkit-transition: all 0.25s ease-in;
}

#main-tabs-tabs .tabs li .close:hover {
  opacity: 1.0;
}

#main-tabs-tabs .tabs li.loading a.close { display: none; }

#main-tabs-tabs .tabs li.active,
#main-tabs-tabs .tabs li.ui-sortable-helper {
  background-color: #f2f2f2;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px;
}

#main-tabs-tabs .tabs li.active a.tab,
#main-tabs-tabs .tabs li.ui-sortable-helper a.tab {
  color: #666;
}

#main-tabs-tabs .tabs li.ui-sortable-helper {
  margin-top: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}

#main-tabs .tab-pane {
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#main .inner .scrollable {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  padding: 12px;
  overflow: auto;
}

/*}}}*/

/* Flash {{{ */

.flash {
  position: fixed;
  top: 38px;
  left: 32px;
  right: 32px;
  z-index: 10;
  padding: 12px 32px 12px 16px;
  font-size: 125%;
  background: rgba(255, 255, 192, 0.75);
  text-shadow: #ffc 0px 1px;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
}

.flash .close {
  position: absolute;
  right: 8px;
  bottom: 8px;
  font-size: 150%;
  line-height: 16px;
  width: 16px;
  text-align: center;
  vertical-align: baseline;
  text-decoration: none;
  color: #666;
  opacity: 0.5;
  -webkit-transition: opacity 0.15s ease-in;
}

.flash .close:hover { opacity: 1.0; }

/*}}}*/

/* Header {{{ */

#header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 40px;
  z-index: 5;
}

#header .top {
  position: absolute;
  top: 0px;
  left: -8px;
  right: -8px;
  height: 36px;
  background: #666 url(../images/header.png) repeat-x 0px -4px;
  color: white;
  border-top: 4px solid #8dc63f;
}

#header .logo {
  position: absolute;
  left: 16px;
  top: 0px;
  height: 36px;
  line-height: 36px;
  font-size: 32px;
  font-weight: bold;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #eeefe5;
  text-decoration: none;
  letter-spacing: -0.12em;
  text-shadow: rgba(0, 0, 0, 0.25) 0px -1px 1px;
}

#header .top a {
  color: #eee;
}

#signed-in-user {
  float: right;
  margin-right: 16px;
  line-height: 36px;
  vertical-align: middle;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px;
}

#signed-in-user a.user {
  font-weight: bold;
  font-size: 125%;
}

#header .visit-site {
  position: absolute;
  left: 232px;
  top: 4px;
  width: 40px;
  height: 28px;
  background: rgba(0, 0, 0, 0.5) url(/breeze/images/buttons/visit-site.png) no-repeat 50% 50%;
  text-decoration: none;
  text-shadow: none;
  text-indent: -100em;
  overflow: hidden;
  opacity: 0.25;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-transition: all 0.15s ease-in;
}

#header .visit-site:hover {
  opacity: 0.75;
}

#header .menu {
  position: absolute;
  left: 276px;
  top: 4px;
  margin: 0px;
  padding: 0px;
  height: 24px;
}

#header .menu li {
  float: left;
  height: 28px;
  display: block;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#header .menu li a {
  display: block;
  height: 28px;
  line-height: 28px;
  vertical-align: middle;
  background: rgba(255, 255, 255, 0.15);
  margin: 0px 4px 0px 0px;
  padding: 0px 8px;
  position: relative;
  text-decoration: none;
  font-size: 16px;
  color: #eee;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-transition: all 0.15s ease-in;
}

#header .menu li a:hover {
  background: rgba(255, 255, 255, 0.3);
  color: white;
}

#header .menu li.active a,
#header .menu li.active a:hover {
  z-index: 10;
  background: #eee;
  color: #222;
  text-shadow: white 0px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
}

#header .menu li.active a:after {
  content: ".";
  position: absolute;
  left: 50%;
  bottom: -12px;
  margin: 0px -12px;
  height: 12px;
  width: 24px;
  text-indent: -4em;
  overflow: hidden;
  background: url(../images/menu-tick.png) no-repeat 50% 0px;
}

/*}}}*/

/* Main {{{ */

#main {
  
}

#main h1 {
  margin: 8px 12px 16px;
  padding: 8px 0px;
  border-bottom: 1px solid #aaa;
  font-size: 200%;
  font-weight: normal;
}

/*}}}*/

/* Left sidebar {{{ */

#left h2 {
  margin: 0px;
  padding: 0px 0px 0px 8px;
  line-height: 40px;
  vertical-align: middle;
  color: white;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.25) 0px -1px;
  font-size: 150%;
}

#left .inner {
  padding: 8px;
}

/* }}} */

/* Right sidebar {{{ */

#right .header .button {
  margin: 3px 8px;
  width: 208px;
  padding: 8px 0px 9px;
  text-align: center;
}

.fake-right-sidebar {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: -224px;
  width: 208px;
  padding: 8px;
}

.fake-right-sidebar .large.button {
  display: block;
  width: 100%;
  margin: 0px 0px 8px;
  padding: 8px 0px 9px;
  text-align: center;
}

#right .help,
.fake-right-sidebar .help {
  margin: 0px 0px 8px;
  padding: 8px;
  background: rgba(255, 255, 192, 0.75);
  text-shadow: #ffc 0px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
  -webkit-border-radius: 8px;
}

#right .help h3,
.fake-right-sidebar .help h3 {
  margin: 0px 0px 8px;
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

/*}}}*/

/* Forms {{{ */

.button, .button:visited {
	background: #222 url(../images/button-overlay.png) repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	border: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}

.button:hover	{ background-color: #111; color: #fff; }
.button:active { top: 1px; }
.small.button, .small.button:visited { font-size: 11px; padding: ; }
.button, .button:visited,
.medium.button, .medium.button:visited { font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large.button, .large.button:visited { font-size: 14px; font-weight: bold; padding: 8px 14px 9px; text-transform: uppercase; }

.green.button, .green.button:visited      { background-color: #8dc63f; }
.green.button:hover                       { background-color: #6a952f; }
.blue.button, .blue.button:visited        { background-color: #2daebf; }
.blue.button:hover                        { background-color: #007d9a; }
.red.button, .red.button:visited          { background-color: #e33100; }
.red.button:hover                         { background-color: #872300; }
.magenta.button, .magenta.button:visited	{ background-color: #a9014b; }
.magenta.button:hover	        						{ background-color: #630030; }
.orange.button, .orange.button:visited		{ background-color: #ff5c00; }
.orange.button:hover					        		{ background-color: #d45500; }
.yellow.button, .yellow.button:visited		{ background-color: #ffb515; }
.yellow.button:hover							        { background-color: #fc9200; }

/* }}} */

/* Page editor {{{ */

.breeze-form fieldset ol li label[for=page_seo_meta_description],
.breeze-form fieldset ol li label[for=page_seo_meta_keywords] {
  float: left;
  width: 25%;
}

#page_seo_meta_description,
#page_seo_meta_keywords {
  width: 74%;
}

.breeze-form li.url.http span.https,
.breeze-form li.url.https span.http {
  display: none;
}

.breeze-form li.url.https span.https {
  background: #ffc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

/*}}}*/

/* Theme editor {{{ */

#left #themes {
  margin: 0px;
  padding: 0px;
}

#left #themes .theme li {
  display: block;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#left #themes .theme a {
  display: block;
  margin: 0px 0px 8px;
  padding: 8px;
  background: #ccc;
  color: #999;
  text-decoration: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}

#left #themes .theme strong {
  text-transform: uppercase;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px;
}

#left #themes .enabled a {
  background: #8dc63f;
  color: #222;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px;
}

#left #themes .enabled strong {
  text-shadow: rgba(255, 255, 255, 0.25) 0px 1px;
}

#left #themes .theme a.loading {
  background-image: url(../images/loading-small-666-ccc.gif);
  background-position: 184px 50%;
  background-repeat: no-repeat;
}

#left #themes .enabled a.loading {
  background-image: url(../images/loading-small-222-8dc63f.gif);
}

#left .theme-status {
  margin: 8px 0px;
  padding: 7px;
  background: rgba(255, 255, 192, 0.75);
  text-shadow: #ffc 0px 1px;
  border: 1px solid #ffc;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
}

form.editor .pane {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 8px;
  margin: 0px;
  padding: 0px;
}

form.editor textarea {
  position: absolute;
  top: 8px;
  margin: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: none;
  border-top: 1px solid #aaa;
  font-family: Monaco, Consolas, monospace;
  width: 100%;
  height: 100%;
  padding: 0px;
  resize: none;
}

form.editor .overlay {
  position: absolute;
  top: 8px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.5);
}

form.editor .overlay h3 {
  width: 12em;
  margin: 30% auto 0px;
  padding: 8px 8px 8px 48px;
  background: black url(/breeze/images/loading-large-fff-000.gif) no-repeat 8px 50%;
  opacity: 0.75;
  font-size: 200%;
  line-height: 32px;
  vertical-align: middle;
  color: white;
  -webkit-border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
  -moz-border-radius: 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
}

form.folder {
  padding: 8px;
}

.folder-description {
  margin: 8px;
  padding: 7px;
  background: rgba(255, 255, 192, 0.75);
  text-shadow: #ffc 0px 1px;
  border: 1px solid #ffc;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
}

.folder-description h1 {
  margin: 0px 0px 8px;
}

/* }}} */

/* Assets {{{ */

#assets {
  padding: 8px;
}

#assets h1 {
  border: none;
  margin: 0px 8px;
}

#assets h1 tt {
  background: #ccc;
  padding: 0px 0.25em;
  -webkit-border-radius: 8px;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.5) 0px 1px 2px;
  -moz-border-radius: 8px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.5) 0px 1px 2px;
}

#assets h3 {
  clear: left;
  margin: 0px 0px 16px;
  background: #aaa;
  color: #222;
  padding: 0px 8px;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 20px;
  vertical-align: middle;
}

#assets .image {
  float: left;
  margin: 0px 8px 8px 0px;
  width: 144px;
  height: 144px;
  position: relative;
  top: -8px;
  -webkit-transition: background 0.25s ease-in;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
}

#assets .image:hover {
  background: rgba(0, 0, 0, 0.15);
}

#assets .image .icon {
  position: absolute;
  left: 8px;
  top: 8px;
  width: 128px;
  height: 128px;
  line-height: 128px;
  text-align: center;
  vertical-align: middle;
}

#assets .image .icon img {
  line-height: 128px;
  vertical-align: middle;
}

#assets .image .meta,
#assets .asset-assets .asset .links {
  display: block;
  opacity: 0.0;
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 144px;
  right: 0px;
  padding: 0px 8px;
  height: 0px;
  background: rgba(255, 255, 192, 0.75);
  font-size: 85%;
  -webkit-transition-property: opacity, padding, height;
  -webkit-transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-in;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
}

#assets .image .meta:before,
#assets .asset-assets .asset .links:before {
  position: absolute;
  left: 16px;
  top: -8px;
  width: 0px;
  height: 0px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgba(255, 255, 192, 0.75);
  content: ".";
  text-indent: -100em;
  overflow: hidden;
}

#assets .image:hover .meta,
#assets .asset-assets .asset:hover .links {
  opacity: 1.0;
  padding: 8px;
  height: auto;
}

#assets .image .meta .filename {
  display: block;
}

#assets .image .meta small {
  font-size: 100%;
  opacity: 0.5;
  display: block;
}

#assets .image .meta small abbr {
  text-transform: uppercase;
}

#assets .image .links {
  position: absolute;
  left: 4px;
  top: 4px;
  opacity: 0.0;
  -webkit-transition: opacity 0.25s ease-in;
}

#assets .image:hover .links {
  opacity: 1.0;
}

#assets .image img {
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
}

#assets .image .links a {
  display: block;
  clear: left;
  float: left;
  line-height: 20px;
  vertical-align: middle;
  margin: 0px 0px 2px;
  padding: 0px 4px 0px 24px;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.75);
  background-repeat: no-repeat;
  background-position: 4px 50%;
  color: #222;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-transition: background-color 0.15s ease-in;
}

#assets .image .links a.edit { background-image: url(../images/icons/picture-edit.png); }
#assets .image .links a.delete { background-image: url(../images/icons/delete.png); }

#assets .image .links a:hover { background-color: white; }

#assets .asset-assets .asset {
  float: left;
  margin: 0px 8px 8px 0px;
  width: 220px;
  height: 64px;
  position: relative;
  top: -8px;
  -webkit-transition: background 0.25s ease-in;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
}

#assets .asset-assets .asset:hover {
  background: rgba(0, 0, 0, 0.15);
}

#assets .asset-assets .asset .icon {
  position: absolute;
  left: 8px;
  top: 8px;
  height: 48px;
  padding-left: 48px;
  width: 152px;
  background: url(../images/icons/mime/any.png) no-repeat 0px 50%;
}

#assets .asset-assets .pdf .icon { background-image: url(../images/icons/mime/pdf.png); }
#assets .asset-assets .doc .icon,
#assets .asset-assets .txt .icon { background-image: url(../images/icons/mime/text.png); }
#assets .asset-assets .xls .icon { background-image: url(../images/icons/mime/spreadsheet.png); }
#assets .asset-assets .mov .icon,
#assets .asset-assets .flv .icon,
#assets .asset-assets .wmv .icon,
#assets .asset-assets .m4v .icon { background-image: url(../images/icons/mime/video.png); }

#assets .asset-assets .asset .links {
  top: 64px;
  font-size: 100%;
  line-height: 18px;
  vertical-align: middle;
}

#assets .asset-assets .asset:hover .links {
  height: 18px;
}

#assets .asset-assets .asset .links a {
  color: #222;
  float: left;
  text-decoration: none;
  padding: 0px 8px 0px 18px;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

#assets .asset-assets .asset .links a.view { background-image: url(../images/icons/download.png); }
#assets .asset-assets .asset .links a.edit { background-image: url(../images/icons/asset-edit.png); }
#assets .asset-assets .asset .links a.delete { background-image: url(../images/icons/delete.png); }

#uploaderUploader {
  margin: 5px 0px 0px 5px;
}

#left #folders a {
  display: block;
  position: relative;
  z-index: 10;
}

#left #folders a.drop-hover {
  color: #ec008c !important;
}

.asset.ui-draggable-dragging {
  background: #ccc;
  padding: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
}

.asset.ui-draggable-dragging img,
.asset.ui-draggable-dragging a,
.asset.ui-draggable-dragging .dimensions {
  display: none;
}

/* }}} */

/* Custom types {{{ */

#custom_type_type_name,
.custom-field .custom-field-name {
  font-family: Monaco, monospace;
  font-size: 100%;
}

fieldset.custom-field {
  background: #ddd;
  padding-right: 40px;
  padding-bottom: 0px;
  margin-bottom: 8px;
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}

fieldset.custom-field a.delete {
  z-index: 1;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 16px;
  height: 16px;
  background: url(/breeze/images/icons/delete.png) no-repeat 0px 0px;
  text-indent: -100em;
  overflow: hidden;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s ease-in;
}

fieldset.custom-field a.delete:hover { opacity: 1.0; }

fieldset.custom-field ol.form {
  margin: 0px;
}

#left #custom-types {
  margin: 0px;
  padding: 0px;
}

#left #custom-types li {
  display: inline;
  list-style: none;
}

#left #custom-types li a {
  display: block;
  background: #ccc;
  margin: 0px 0px 8px;
  padding: 8px;
  color: #222;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

#left #custom-types li a strong {
  display: block;
  text-transform: uppercase;
}

#left #custom-types li a code {
  display: block;
  font-size: 85%;
  color: #666;
}

#left #custom-types li a:hover { background: #bbb; }

#custom_type_new .add-field,
#custom_type_edit .add-field {
  margin: 0px 12px 8px;
}

/*}}}*/

/* Users {{{ */

#left #users ul {
  margin: 0px;
  padding: 0px;
}

#left #users li {
  display: inline;
  list-style: none;
}

#left #users li a {
  display: block;
  background: #ccc;
  margin: 0px 0px 8px;
  padding: 8px;
  color: #222;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

#left #users li a strong {
  display: block;
  font-size: 125%;
}

#left #users li a small {
  display: block;
  font-size: 85%;
  color: #666;
  text-transform: uppercase;
  letter-spacing: 0.12em;
}

#left #users li a:hover { background: #bbb; }

/*}}}*/

/* Errors (access denied, etc) {{{ */

#main .error-message {
  
}

#main .error-message p {
  margin: 0px 12px 8px;
}

/*}}}*/

/* Log messages {{{ */

ul.log-messages {
  display: block;
  margin: 0px 12px 16px;
  padding: 0px;
}

ul.log-messages li {
  display: block;
  list-style: none;
  margin: 0px;
  padding: 0px;
  line-height: 1.5em;
}

ul.log-messages li .datetime {
  display: block;
}

ul.log-messages li .datetime .date {
  display: block;
  font-size: 125%;
  margin: 1ex 0px 0.5ex;
  color: black;
}

ul.log-messages li .datetime .time {
  display: block;
  color: #666;
  width: 5em;
  text-align: right;
}

ul.log-messages li .message {
  display: block;
  margin: -1.5em 0px 0.5ex 6em;
  padding-left: 20px;
  background-position: 0px 1px;
  background-repeat: no-repeat;
}

ul.log-messages li.create.page .message { background-image: url(/breeze/images/log/page_add.png); }
ul.log-messages li.delete.page .message { background-image: url(/breeze/images/log/page_delete.png); }
ul.log-messages li.update.page .message { background-image: url(/breeze/images/log/page_edit.png); }
ul.log-messages li.create.navigation_item .message { background-image: url(/breeze/images/log/page_add.png); }
ul.log-messages li.delete.navigation_item .message { background-image: url(/breeze/images/log/page_delete.png); }
ul.log-messages li.update.navigation_item .message { background-image: url(/breeze/images/log/page_edit.png); }

#recent-activity {
  position: relative;
}

#recent-activity .pagination {
  position: absolute;
  top: -3.5em;
  right: 12px;
  height: 1.5em;
}

/* }}} */

/* Pagination {{{ */

.pagination {
  height: 1.5em;
}

.pagination a,
.pagination em,
.pagination span {
  display: block;
  float: left;
  background: white;
  height: 1.5em;
  line-height: 1.5em;
  vertical-align: middle;
  margin-left: 0.5em;
  min-width: 0.5em;
  padding: 0ex 0.5em;
  text-align: center;
  text-decoration: none;
  color: #222;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 2px;
}

.pagination em {
  background: #ccc;
  font-style: normal;
  font-weight: bold;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.5) 0px 1px 2px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.5) 0px 1px 2px;
}

.pagination .disabled {
  color: #999;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

/*}}}*/

/* Tables {{{ */

table.fancy {
  border-collapse: collapse;
  border-spacing: 0px;
  width: 100%;
}

table.fancy thead th {
  background: #999;
  border-bottom: 1px solid #999;
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
  padding: 0px 8px;
  text-align: left;
}

table.fancy thead th:first-child {
  background-position: 0px 0px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

table.fancy thead th:last-child {
  background-position: 100% 0px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

table.fancy tbody td {
  border-bottom: 1px solid #999;
  padding: 0px 8px;
  vertical-align: top;
}

table.fancy tfoot td {
  background: #ddd;
  padding: 8px;
}

table.fancy tfoot td:first-child {
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}

table.fancy tfoot td:last-child {
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

table.fancy tfoot .pagination a, table.fancy tfoot .pagination span {
  padding: 0em .3em;
}

table.fancy tfoot .pagination span.disabled {
  color: #999;
}

table.fancy tfoot .pagination span.current {
  background: white;
  min-width: 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}

table.fancy tfoot .pagination a {
  text-decoration: none;
  color: #333;
}

table.fancy tfoot .pagination .previous_page {
  margin-left: 0px;
}

table.fancy tfoot .pagination a:hover, table.fancy tfoot .pagination a:focus {
  text-decoration: underline;
}

table.fancy tbody tr:hover td {
  background-color: #fff;
}

table.fancy td.empty {
  padding: 3em 8px;
  text-align: center;
  vertical-align: middle;
  color: #999;
}

table.fancy tbody tr:hover td.empty {
  background: none;
}

table td.odd,  table th.odd,  table tr.odd td,  table tr.odd th {
  background: none;
}

table td.even, table th.even, table tr.even td, table tr.even th {
  background-color: #ddd;
}

.container .with-selected {
  position: absolute;
  left: 0px;
  top: -32px;
  background: #ffc;
  padding: 4px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
  -webkit-border-radius: 4px;
}

.container .with-selected:after {
  content: ".";
  text-indent: -2em;
  position: absolute;
  left: 16px;
  bottom: -8px;
  width: 0px;
  height: 0px;
  overflow: hidden;
  border-left: 8px solid #ffc;
  border-bottom: 8px solid transparent;
}

/*}}}*/

/* Settings {{{ */

#redirect_new {
  margin: 12px;
}

table.redirects tbody td {
  padding: 4px 8px;
  vertical-align: top;
}

table.redirects tfoot td {
  vertical-align: top;
}

table.redirects tfoot td .inline-errors { color: #ed1c24; }

table.redirects tr a[data-remote] {
  color: #ed1c24;
  font-size: 150%;
  text-decoration: none;
  line-height: 50%;
  opacity: 0;
  -webkit-transition: opacity 0.12s ease-in-out;
}

table.redirects tr:hover a[data-remote] {
  opacity: 1;
}

/*}}}*/
