<li id="custom_type_<%= custom_type.id %>">
  <%= link_to edit_admin_custom_type_path(custom_type), :class => "custom-type", :"data-id" => custom_type.id do %>
    <%= badge(custom_type.to_class.count) %>
    <strong>
      <%= custom_type.name.html_safe %>
    </strong>
  <% end %>
</li>