<li>
  <li class="text_field">
    <%= label_tag "custom_type[custom_fields_attributes][0][width]", "Width" %>
    <%= text_field_tag "custom_type[custom_fields_attributes][0][width]", image_field.width, :size => 5, :class => :numeric %>
  </li>
  <li class="text_field">
    <%= label_tag "custom_type[custom_fields_attributes][0][height]", "Height" %>
    <%= text_field_tag "custom_type[custom_fields_attributes][0][height]", image_field.height, :size => 5, :class => :numeric %>
  </li>
</li>
