<li>
  <li class="text_field">
    <%= label_tag "custom_type[custom_fields_attributes][0][rows]", "Rows" %>
    <%= text_field_tag "custom_type[custom_fields_attributes][0][rows]", text_field.rows, :size => 5, :class => :numeric %>
  </li>
</li>