<%= form_tag "/admin/themes/#{theme.name}/files#{@path}", :method => :put, :remote => true, :class => :editor do -%>
  <%= text_area_tag "file[contents]", @contents %>
  
  <%= content_tag :div, :class => "fake-right-sidebar" do %>
    <%= submit_tag "Save", :class => "large green save button" %>
    <button class="large red delete button">Delete</button>
  <% end %>
<% end -%>
