.tree-breeze li        { background: url(icons.png) no-repeat -72px -72px; }
.tree-breeze li.closed { background-position: -72px -54px; }
.tree-breeze li.open   { background-position: -54px -72px; }

.tree-breeze li a,
.tree-breeze li a ins {
  vertical-align: top;
}

.tree-breeze li a span {
  position: relative;
  top: -4px;
}

.tree-breeze li a input, .tree li span input { font-family: Gotham, Helvetica Neue, Helvetica, Arial, sans-serif; }

.tree-breeze li             a > .icon { background: url(icons.png) no-repeat -19px -1px; }
.tree-breeze .folder      > a > .icon { background-position: 0px 0px; }
.tree-breeze .page        > a > .icon,
.tree-breeze .file        > a > .icon { background-position: -19px -1px; }
.tree-breeze .png         > a > .icon,
.tree-breeze .jpg         > a > .icon,
.tree-breeze .gif         > a > .icon { background-position: -19px -19px; }
.tree-breeze .css         > a > .icon { background-position: -19px -37px; }
.tree-breeze .erb         > a > .icon { background-position: -19px -55px; }
.tree-breeze .js          > a > .icon { background-position: -19px -73px; }
.tree-breeze .images      > a > .icon { background-position: -1px -18px; }
.tree-breeze .stylesheets > a > .icon { background-position: -1px -36px; }
.tree-breeze .layouts     > a > .icon { background-position: -1px -54px; }
.tree-breeze .javascripts > a > .icon { background-position: -1px -72px; }

.tree-breeze .clicked {
  position: relative;
  background-color: rgba(0, 174, 239, 0.25);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

#jstree-marker { background-image: url("icons.png"); }

.marker_plus#jstree-marker {
  margin: -1px 0px -1px 2px;
  width: 7px;
  height: 7px;
  background-position: -100px -1px;
}

.marker#jstree-marker {
  margin: -1px 0px;
  height: 7px;
  background-position: -36px -1px;
}