<% if @results.empty? %>
  <p class="empty">No results matched your search.</p>
<% else %>
  <h3><%= pluralize @results.count, "result" %></h3>
  <%= content_tag :ol do %>
    <%= render :partial => "breeze/admin/contents/result", :collection => @results %>
  <% end %>
<% end %>
