<% if @results.empty? %>
  <p class="empty">No results matched your search.</p>
<% else %>
  <%= content_tag :ol do %>
    <%= render :partial => "result", :collection => @results %>
  <% end %>
<% end %>