<div class="actions file_upload">
	<%= form_for @asset, url: admin_assets_path, :html => { :multipart => true, :id => "fileupload" } do |f| %>
		<%= f.hidden_field :folder, value: (@folder || "/") %>

		<div id="dropzone" class="drop_zone file_drop_zone">
			<div class="drop_zone_icon"></div>
			<div class="drop_zone_text">
				Drag and drop files here to upload or
				<div class="button fileinput-button">
					<div class="button_text">Select files<br />from your<br />computer&hellip;</div>
					<%= f.file_field :file, :multiple => true %>      
				</div>
			</div>
		</div>
	<% end %>

</div>