<h2>Upload files</h2>
<%= content_tag :div, "", :id => "uploader", "data-session-key" => Rails::Application.config.session_options[:key], "data-session-id" => cookies[Rails::Application.config.session_options[:key]] %>
