<div class="actions file_upload">
	<h3>Add files..<%= folder %></h3>
	<%= form_for @asset, url: admin_assets_path, :html => { :multipart => true, :id => "fileupload" } do |f| %>
		<%= f.hidden_field :folder, value: (@folder || "/") %>

		<div id="progress" class="progress">
		    <div class="bar" style="width: 0%;"></div>
		</div>

		<div class="large upload button fileinput-button">
			<i class="icon-plus"></i>
			<span class="button_text">Upload files...</span>
			<%= f.file_field :file, :multiple => true %>      
		</div>
	<% end %>

	<div id="dropzone" class="drop_zone">Drop files here</div>
</div>