<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "breeze/breeze" %>
  </head>

  <body>
    <div class='editor-panel'>
      <div class='editor-help'>
        <h3>Editor Panel</h3>
        <p>Select a page element or create a new one.</p>
      </div>
    </div>
    <div class='website-panel'>
      <%= yield %> 
    </div>

    <!-- We store the page id information -->
    <%= hidden_field_tag :page_id, page.id %>

    <%= javascript_include_tag "breeze/breeze" %>
  </body>
</html>
