<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= [ @error.to_s, "Breeze" ].compact.join(" | ") %></title>
  	<%= stylesheet_link_tag "/admin/stylesheets/error" %>
  </head>

  <body>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>
