<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= page.title %></title>
  </head>

  <body>
    <div id="container">
      <div id="header">
        
      </div>
      <%= region :main %>
      <%= region :sidebar %>
      <%= region :footer do %>
        
      <% end %>
    </div>
  </body>
</html>
