<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Log in to continue | Breeze</title>
    <%= stylesheet_link_tag "breeze/breeze" %>
  </head>

  <body class="breeze-login">
    <div id="login">
      <h1>Breeze </h1>
      <%= yield %>
    </div>

    <%= javascript_include_tag "breeze/breeze" %>

  </body>
</html>
