<% content_for :title, "Dashboard" -%>

<%= tabbed_layout do |tabs| %>
  <% tabs.activity :title => "Recent activity" do %>
    <h1>Recent activity</h1>
    <div id="recent-activity">
      <%#= will_paginate @log_messages %>
      <%= content_tag :ul, :class => "log-messages" do %>
        <%= render :partial => "log_message", :collection => @log_messages %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% content_for :left do %>
  <%= pane_layout do |sidebar| %>
    <% sidebar.header do %>
      <h2>Dashboard</h2>
    <% end %>
  <% end %>
<% end %>