<% content_for :title, "Dashboard" -%>

<%= tabbed_layout do |tabs| %>
  <% tabs.activity :title => "Recent activity" do %>
    <% Breeze::Admin::Activity::LogMessage.order_by([[ :created_at, -1 ]]).each do |message| %>
      <%= message.to_html.html_safe %>
    <% end %>
    
  <% end %>
<% end %>

<% content_for :left do %>
  <%= pane_layout do |sidebar| %>
    <% sidebar.header do %>
      <h2>Dashboard</h2>
    <% end %>
  <% end %>
<% end %>